html,
body {
  font-size: 20px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Finger Paint";
  position: relative;
}

@font-face {
  font-family: "Finger Paint";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/finger-paint-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/finger-paint-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/finger-paint-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/finger-paint-v10-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/finger-paint-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/finger-paint-v10-latin-regular.svg#FingerPaint")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/neucha-v12-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/neucha-v12-cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/neucha-v12-cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/neucha-v12-cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/neucha-v12-cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/neucha-v12-cyrillic-regular.svg#Neucha") format("svg"); /* Legacy iOS */
}
a {
  text-decoration: none;
}

.hide {
  display: none;
}

.visible-transform {
  transform: translate(500px);
  transition: translate 1.5s;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*header*/

.header {
  background-color: black;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  opacity: 0.9;
}
.header__list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .list__item {
  display: inline-block;
  margin-right: 20px;
}
.item__link {
  color: white;
}

.header__contacts {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.header__phone {
  display: flex;
  place-items: center;
  color: white;
  margin-right: 30px;
}
.header__mail {
  display: flex;
  place-items: center;
  color: white;
  margin-right: 30px;
}

.header__vk {
  display: flex;
  place-items: center;
}
.header__github {
  writing-mode: vertical-lr;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
  padding-right: 20px;
}

/*Burger*/

.burger-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  display: none;
  cursor: pointer;
}

.burger__span {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: width 0.5s;
}

.burger__span:nth-child(2) {
  margin: 7px 0;
}

/*page-a*/

.page-a {
  padding: 100px 0;
}

.page-a__title {
  font-family: "Neucha";
}

.page-a__list {
  columns: 2;
}

.page-a__title {
  padding-right: 50px;
  border-top: 3px solid black;
}
.page-a__h2 {
  margin-top: 0;
}

page-a__discr {
  position: relative;
}

.page-a__img {
  width: 500px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

/*page-b*/

.page-b {
  background-color: black;
  padding: 75px 0;
}
.page-b__title {
  position: relative;
  display: flex;
  flex-flow: column;
  place-items: center;
}
.page-b__h2,
.page-b__h3 {
  margin: 0;
  font-size: 200px;
  color: white;
  line-height: 150px;
  display: flex;
}

.page-b__h2 span {
  display: inline-block;
}

.page-b__h3 span {
  display: inline-block;
}

.page-b__head-word {
  font-size: 50px;
}

.page-b-word-anim {
  display: flex;
}
/*Swiper*/

.swiper-container {
  width: 468px;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.slide_img {
  width: 100%;
  height: 100%;
}

.navigate-buttons {
  position: absolute;
  bottom: 40px;
  right: -80px;
}
.page-b .swiper-button-prev {
  position: absolute;
  top: 25px;
  left: -140px;
  z-index: 10;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}
.page-b .swiper-button-next {
  position: absolute;
  top: 25px;
  left: -80px;
  z-index: 10;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("/img/arrow-left.png");
}

.swiper-button-next {
  background-image: url("/img/arrow-right.png");
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
}

/*page-c*/

.page-c {
  padding: 75px 0 100px 0;
  transition: 0.5s linear all;
}

.page-c__container {
  flex-direction: row-reverse;
}

.page-c__h2 {
  font-size: 200px;
  margin: 0;
  line-height: 150px;
  border-left: 3px solid black;
  display: flex;
}
.page-c__h3 {
  font-size: 200px;
  margin: 0;
  line-height: 150px;
  display: flex;
}

.page-c__list {
  margin: 0;
  padding: 0 0 0 50px;
  border-top: 3px solid black;
}

.page-c__list .list__item {
  font-family: "Neucha";
  list-style-type: disc;
  padding-top: 40px;
  font-size: 40px;
}

/*footer*/

.footer {
  width: 100%;
  height: 5px;
  background-color: black;
  padding: 15px 0;
}
