@media (max-width: 1024px) {
  /*header*/
  .rotate_1 {
    transform: translateY(10px) rotate(40deg);
  }

  .rotate_2 {
    transform: rotate(-40deg);
  }
  .rotate_3 {
    transform: translateY(-10px) rotate(-40deg);
  }

  .header__list {
    position: fixed;
    top: 50px;
    left: -500px;
    width: 300px;
    height: 33px;
    z-index: 999;
    background-color: #1b1b1c;
    padding: 20px 0 0 20px;
    transition: 1.5s;
  }

  /*burger*/
  .burger-wrap {
    display: block;
  }

  /*page-b*/
  .page-b__container {
    flex-flow: column;
    place-items: center;
  }
  .page-b__title {
    flex-flow: row;
  }
}

@media (max-width: 992px) {
  /*page-a*/
  .page-a__img {
    width: 350px;
  }
  /*page-c*/

  .page-c__h2 {
    border: none;
  }
  .page-c__container {
    flex-flow: column;
    place-items: center;
  }
  .page-c__title {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .page-c__list {
    border: none;
  }
  .page-c-word-anim {
    font-size: 120px;
    justify-content: center;
  }
  .page-c__list .list__item {
    font-size: 33px;
    width: auto;
  }

  /*page-d*/

  .feedback-info__h2 {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  /*page-a*/
  .page-a {
    padding: 103px 0 60px 0;
  }
  .square {
    width: 15px;
    height: 15px;
  }
  .page-a__img {
    display: none;
  }
  .header__btn-discription {
    font-size: 15px;
  }
  .header__phone,
  .header__mail {
    margin-right: 20px;
  }

  .header .icon {
    width: 16px;
    height: 16px;
  }

  /*page-b*/

  .page-b {
    padding: 35px 0;
    height: auto;
    min-height: 350px;
  }

  .page-b__h2 {
    font-size: 100px;
  }

  /*page-c*/
  .page-c {
    padding: 0 0 35px 0;
  }
  .page-c-word-anim {
    font-size: 100px;
  }
  .page-c__list .list__item {
    font-size: 30px;
  }

  /*page-d*/
  .page-d__container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .feedback-info {
    width: 100%;
    flex-flow: column;
  }
  .feedback-info__h2 {
    font-size: 100px;
  }

  .feedback_info__contacts {
    flex-flow: row;
  }
  .feedback__btn-discription {
    display: none;
  }
  .page-d__feedback-forms {
    width: 70%;
  }
  .page-d__feedback-body {
    width: 100%;
    place-items: center;
  }
  .page-d__feedback-notification {
    top: 340px;
  }
}

@media (max-width: 576px) {
  /*page-a*/
  .header__btn-discription {
    display: none;
  }
  .header .icon {
    padding-right: 20px;
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .header .header__phone,
  .header .header__mail {
    margin-right: 0;
  }
  /*page-b*/

  .page-b {
    min-height: 250px;
  }
  /*page-c*/
  .page-c {
    padding-top: 65px;
  }
  .page-c__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 320px;
  }
  .page-c__list .list__item {
    list-style-type: none;
  }
  .page-c__list .list__item:first-child {
    padding-top: 20px;
  }
  /*page-d*/
  .page-d__feedback-forms {
    width: 98%;
  }
}

@media (max-width: 375px) {
  .page-a__container {
    justify-content: center;
  }
  .page-a__title {
    padding-right: 0;
  }
  /*page-d*/
}
