a:hover,
a:focus,
a:active {
  transform: scale(1.1);
  text-shadow: 0 0 10px #ac88a4;
  transition: 0.5s;
  outline-color: #ac88a4;
}

.feedback-icons:focus,
.feedback-icons:hover,
.feedback-icons:active {
  transform: translateX(10px);
  transition: 0.3s;
}

.fadeout {
  transform: translateX(-100%);
  transition: 2s;
}

.fadein {
  transform: translateY(-100%);
  transition: 1s;
}

@keyframes animat {
  80% {
    text-shadow: 0 0 10px #ac88a4;
  }
}

@keyframes anim {
  20% {
    filter: blur(1px);
  }
  60% {
    filter: blur(60px);
  }
  80% {
    filter: blur(90px);
  }
  to {
    filter: blur(0);
  }
}

/*page-c anim*/

.transform {
  display: inline-block;
  text-shadow: 0 0 10px #ac88a4;
  cursor: pointer;
}

.transform:hover,
.transform:focus,
.transform:active {
  -webkit-animation: anima 25s 0.4s both;
}

@keyframes anima {
  10% {
    text-shadow: 0 0 40px #ac88a4;
    filter: blur(3px);
  }
  40% {
    filter: blur(70px);
    transform: translate3d(-288px, -128px, 0) rotate(-60deg) skewX(-60deg)
      scale(1.8);
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.burger-wrap:hover .burger__span:first-child,
.burger-wrap:focus .burger__span:first-child,
.burger-wrap:active .burger__span:first-child {
  box-shadow: 0 0 10px #ac88a4;
  transition: all 0.5s;
}

.burger-wrap:hover .burger__span:nth-child(2),
.burger-wrap:focus .burger__span:nth-child(2),
.burger-wrap:active .burger__span:nth-child(2) {
  box-shadow: 0 0 10px #ac88a4;
  transition: all 0.5s;
}

.burger-wrap:hover .burger__span:nth-child(3),
.burger-wrap:focus .burger__span:nth-child(3),
.burger-wrap:active .burger__span:nth-child(3) {
  box-shadow: 0 0 10px #ac88a4;
  transition: all 0.5s;
}

/* page-a anim*/

@keyframes square-animate {
  20% {
    transform: rotate(60deg);
    left: 52%;
    opacity: 0.8;
  }
  40% {
    transform: rotate(90deg);
    left: 53%;
    opacity: 1;
    border-top-right-radius: 50%;
  }
  60% {
    transform: rotate(180deg);
    left: 55%;
  }
  80% {
    transform: rotate(360deg);
    left: 65%;
    border-radius: 50%;
    opacity: 0.2;
  }
  90% {
    transform: rotate(360deg);
    left: 75%;
    opacity: 0.1;
  }
  to {
    left: 85%;
    opacity: 0;
  }
}

.square-animate {
  -webkit-animation: square-animate 8s ease-in-out 7s infinite alternate-reverse;
}
