
.portfolio {
  padding: 30px 0 50px 0;
  background-color: #1b1b1c;
}
.portfolio__wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  place-items: center;
}

.portfolio__body {
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
}

.portfolio__head {
  margin: 0 auto;
  font-size: 200px;
  color: #fff;
}


.portfolio__content {
  position: relative;
  // flex-basis: 355px;
  height: 300px;
  filter: brightness(100%);
  margin: 5px;
  display: flex;
  flex-grow: 1;
  width: 40%;
}
.portfolio__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  filter: sepia(30%);
}

.content-grow {
  flex-grow: 2;
  width: 55%;
}

.portfolio__fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.portfolio__discr {
  font-family: "Calama";
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #1b1b1c;
  font-weight: bold;
  margin: 0 auto;
  opacity: 1;
  /* text-shadow: 0 10px 10px rgb(172, 136, 164); */
  transition: 0.2s all;
}

.portfolio__icon {
  fill: black;
  font-weight: bold;
  opacity: 1;
  padding-right: 15px;
  transition: 0.5s;
}

.portfolio__link {
  color: black;
}

.portfolio__content:hover .portfolio__fade{
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s all;
}
.portfolio__content:hover .portfolio__discr {
  color: whitesmoke;
  transition: 1s all;
}

.portfolio__content:hover .portfolio__icon {
  fill: whitesmoke;
  opacity: 1;
  transition: 1s;
}

.fade-discr {
  opacity: 1;
}

@media (max-width: 992px) {
  .portfolio__head {
    font-size: 120px;
  } 
}

@media (max-width: 768px) {
  .portfolio__head {
    font-size: 100px;
  }
  .portfolio__body {
    // flex-flow: column;
    width: 100%;
  }
  .portfolio__content {
    position: relative;
    // flex-basis: 355px;
    height: 300px;
    flex-grow: 1;
    width: 100%;
  }
  .portfolio__img {
    object-position: 100% 0;
    filter: sepia(30%);
  }
  // .portfolio__discr {
  
  //   left: 0;
  // }
  
}

@media (max-width: 576px) {
  .portfolio__content {
    position: relative;
    // flex-basis: 355px;
    height: 200px;
    width: 100%;
  }

}

@media (max-width: 375px) {
  .portfolio__img {
    object-position: 50% 50%;
  }
}
