html,
body {
  font-size: 20px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Neucha", Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Calama";
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/neucha-v12-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/neucha-v12-cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/neucha-v12-cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/neucha-v12-cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/neucha-v12-cyrillic-regular.ttf")
      format("truetype");
  /* Safari, Android, iOS */
  /* url("fonts/neucha-v12-cyrillic-regular.svg#Neucha") format("svg"); Legacy iOS */
}

@font-face {
  font-family: "Victor mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/VictorMono-Regular.eot");
  src: local(""), url("../fonts/VictorMono-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/VictorMono-Regular.woff"),
    format("woff"), /* Modern Browsers */ url("../fonts/VictorMono-Regular.ttf"),
    format("truetype");
  /* Safari, Android, iOS */
  /* url("fonts/finger-paint-v10-latin-regular.svg#FingerPaint") format("svg"); Legacy iOS */
}

@font-face {
  font-family: "Calama";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/calama_regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/calama_regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/calama_regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/calama_regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* url("fonts/finger-paint-v10-latin-regular.svg#FingerPaint") format("svg"); Legacy iOS */
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.visible-transform {
  transform: translate(500px);
  transition: 1.5s;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*header*/

.header {
  background-color: #1b1b1c;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  opacity: 0.9;
}
.header__list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .list__item {
  display: inline-block;
  margin-right: 20px;
}
.item__link {
  color: white;
}

.header__contacts {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.header__phone {
  display: flex;
  place-items: center;
  color: white;
  margin-right: 30px;
}
.header__mail {
  display: flex;
  place-items: center;
  color: white;
  margin-right: 30px;
}

.header__vk {
  display: flex;
  place-items: center;
}
.header__github {
  writing-mode: vertical-lr;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
  padding-right: 20px;
  outline: rgb(172, 136, 164);
}

.open-popUp {
  text-decoration: underline;
  font-size: 30px;
  padding: 30px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-shadow: 0 10px 10px rgb(172, 136, 164);
  transition: 0.5s;
  outline: rgb(172, 136, 164);
}

/*Burger*/

.burger-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  display: none;
  cursor: pointer;
}

.burger__span {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.5s;
}

.burger__span:nth-child(2) {
  margin: 7px 0;
}

/*page-a*/

.page-a {
  padding: 103px 0;
}

.page-a__container {
  display: flex;
  flex-flow: row wrap;
}

.page-a__list {
  columns: 2;
}

.page-a__title {
  font-size: 25px;
  padding-right: 50px;
  font-family: "Neucha";
  flex-grow: 2;
  flex-basis: 40%;
}
.page-a__h2 {
  color: #1b1b1c;
  padding: 10px;
  margin-top: 0;
}

page-a__discr {
  position: relative;
}

.page-a__img {
  width: 500px;
}

.animate-cont {
  flex-basis: 100%;
  position: relative;
}

.square {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #1b1b1c;
  box-shadow: 0 0 10px #ac88a4;
  opacity: 0;
  left: 50%;
}

/*page-b*/

.page-b {
  position: relative;
  height: 450px;
  min-height: 300px;
  padding: 75px 0;
}

.page-b__title {
  position: relative;
  z-index: 5;
  padding-left: 20px;
}
.page-b__h2 {
  margin: 0 0 50px 0;
  font-size: 200px;
  text-shadow: 0 0 10px #ac88a4;
}

.page-b__btn {
  font-size: 30px;
  padding: 30px;
  background-color: #1b1b1c;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  outline: rgb(172, 136, 164);
  text-decoration: none;
  color: white;
}

.page-b__btn:hover,
.page-b__btn:focus,
.page-b__btn:active {
  transform: scale(1.1);
  transition: 0.5s;
}

.page-b:hover .page-b__btn,
.page-b:focus .page-b__btn,
.page-b:active .page-b__btn {
  background-color: #1b1b1c;
  padding: 20px;
  margin: 0 auto;
  transition: 1s;
}

.page-b:hover .page-b__btn a,
.page-b:focus .page-b__btn a,
.page-b:active .page-b__btn a {
  color: white;
  transition: 0.5s;
}

.page-b .swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide_img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: 2s;
}

.page-b:hover .slide_img,
.page-b:focus .slide_img,
.page-b:active .slide_img {
  filter: brightness(70%);
  transition: 2s;
}

/*page-c*/

.page-c {
  padding: 75px 0 100px 0;
  transition: 0.5s linear all;
}

.page-c__title {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  place-items: center;
  background-color: #1b1b1c;
  width: 50%;
  padding: 10px;
}

.page-c__container {
  flex-direction: row-reverse;
}

.page-c__h2 {
  font-size: 200px;
  margin: 0;
  line-height: 150px;
  border-left: 3px solid #1b1b1c;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.page-c__h3 {
  font-size: 200px;
  margin: 0;
  line-height: 150px;
  display: flex;
  color: white;
  justify-content: flex-end;
}

.page-c__list {
  margin: 0;
  padding: 0 0 0 50px;
}

.page-c__list .list__item {
  font-family: "Neucha";
  list-style-type: disc;
  padding-top: 40px;
  font-size: 40px;
  width: 500px;
}

/*certificat*/

.certificate__container {
  place-items: center;
  justify-content: center;
}

/*page-d*/

.page-d {
  padding: 65px 0;
  position: relative;
}

.page-d__container {
  position: relative;
}

.feedback-info {
  display: flex;
  background-color: #1b1b1c;
  width: 50%;
  flex-flow: column;
  /* padding-left: 10px; */
}

.feedback-info__h2 {
  font-size: 200px;
  color: white;
  margin: 0;
  padding-left: 10px;
}

.feedback_info__contacts {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
  padding-left: 10px;
}

.page-d__feedback-forms {
  width: 45%;
}

.page-d__feedback-body {
  display: flex;
  flex-flow: column;
}

.feedback-form__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.feedback-form__subject {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
  font-size: 15px;
  width: 100%;
}

.feedback-form__subject-input {
  margin-bottom: 20px;
  max-width: 98%;
  height: 50px;
  font-size: 15px;
  outline: #1b1b1c;
}

.feedback-form__subject-textarea {
  max-width: 98%;
  height: 50px;
  min-height: 50px;
  max-height: 150px;
  font-size: 15px;
  outline: #1b1b1c;
  resize: vertical;
  padding-top: 20px;
}

.feedback-form__contacts-name {
  margin-right: 20px;
}

.feedback-form__contacts-name,
.feedback-form__contacts-email {
  width: 45%;
  height: 50px;
  font-size: 15px;
  outline: #1b1b1c;
}

.feedback-form__submit-btn {
  font-size: 30px;
  padding: 20px;
  background-color: #1b1b1c;
  color: white;
  border: none;
  cursor: pointer;
  text-shadow: 0 10px 10px rgb(172, 136, 164);
  transition: 0.5s;
  outline: rgb(172, 136, 164);
}

.feedback-form__contacts-name:valid,
.feedback-form__contacts-email:valid,
.feedback-form__subject-input:valid,
.feedback-form__subject-textarea:valid {
  border: 2px solid green;
}
.feedback-form__submit-btn:hover,
.feedback-form__submit-btn:focus,
.feedback-form__submit-btn:active {
  background-color: rgb(172, 136, 164);
  transition: 0.5s;
}

.feedback-icons {
  align-self: flex-start;
}

.feedback-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.feedback__btn-discription {
  color: white;
}

.page-d__feedback-notification {
  position: absolute;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  place-items: center;
  background-color: whitesmoke;
  top: 150px;
  right: -50%;
  width: 200px;
  height: 100px;
  border: 1px solid #1b1b1c;
  border-radius: 2%;
  z-index: 800;
  padding: 15px;
  transition: 2s all;
}

.slide-notification {
  opacity: 1;
  right: 0;
  transition: 1s linear;
}

.sending__icon {
  width: 50px !important;
  height: 50px !important;
  fill: black !important;
}

/*footer*/

.footer {
  background-color: #1b1b1c;
  padding: 25px 0;
}

.footer__container {
  flex-flow: column;
}

.footer__rights {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer__copy {
  font-style: italic;
  font-size: 15px;
  color: #fff;
}

.footer__made {
  display: flex;
  justify-content: flex-end;
}

.footer__btn-up {
  text-decoration: none;
  color: white;
}
